.wrapper{
    background-color: black;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
.footer_text{
    color: white;
    
}
.footer__img_wrap{
margin: 15px 0px 10px 0px;
 }
@media only screen and (max-width:1000px){
 .wrapper{
    display: block;
    text-align: center;
 }
.footer_{
}
}